.main {
    width: 100%;    
    margin-top: 40px;
    background-color: white;
    width: 100%;
    border-radius: 8px;
}

.main > .types {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    padding: 40px 25px;
}
.main > .types > article {
    padding: 10px 15px;
    box-shadow: -1px 7px 20px rgba(50, 111, 156, 0.1);
    background: white;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    cursor: pointer;
}
.main > .types > article > .title {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
}
.main > .types > article > .title > img {
    object-fit: contain;
}
.main > .types > article > .title > div {
    display: flex;
    flex-direction: column;
}
.main > .types > article > .title > div > span.name {
    color: #326F9C;
    font-size: 20px;
}
.main .types article.active .title div span.name,
.main .types article:hover .title div span.name {
    color: #51BA7D;
}

.main > .types > article:hover,
.main > .types > article.active {
    box-shadow: -1px 7px 20px 0 rgba(81, 186, 125, 0.2);
}
.main > .types > article > .title > div > span.info,
.main > .types > article > span {
    color: #919BB1;
    font-size: 10px;
}
.main > .types > article > span {
    margin-top: 10px;
}

.main hr {
    border: 1px solid #F5F7F9;
}
.main .articles {
    padding: 0px 120px;
}
.main .articles article {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding: 30px 0px;
    cursor: pointer;
}
.main .articles article .img {
    aspect-ratio: 4/3;
    width: 20%;
    /* background-color: #919BB1; */
}
.main .articles article .img > img {
    object-fit: cover;
    width: 100%;
}
.main .articles article > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px;
}
.main .articles article div h6 {
    font-size: 20px;
}
.main .articles article div p,
.main .articles article div span {
    color: #919BB1;
}
.main .articles article div p {
    font-size: 14px;
}
.main .articles article div span {
    font-size: 12px;
}
.main .articles article div.infos {
    width: 50%;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main .articles article div.infos div {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
}
.main .articles article img {
    object-fit: contain;
    width: 50%;
}
.main .articles article div > span.info {
    color: black;
}