.main {
    width: 100%;    
    margin-top: 40px;
    border-radius: 8px;
    color: #919BB1;
    font-size: 24px;
}
.main > form {
    width: 80%;
    height: calc(100vh - 100px - 40px);
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 0px 30px;
}
.main > form > .title-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.main > form > .title-wrapper > #title {
    border: 1px solid rgba(145, 155, 177, 0.5);
    padding: 10px;
    border-radius: 8px;
}
.main > form > .tag-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.main > form > .tag-wrapper > ul {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.main > form > .tag-wrapper > ul > li {
    border: 1px solid #919BB1;
    border-radius: 8px;
    padding: 10px 30px;
    background: white;
}
.main > form > .tag-wrapper > ul > li.active,
.main > form > .tag-wrapper > ul > li:hover {
    box-shadow: 0 2px 8px 0 rgba(81, 186, 125, 0.25);
    color: #51BA7D;
    border: 1px solid rgba(81, 186, 125, 0.5)
}

.main > form > .content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
} 
.main > form > .content-wrapper > div > img {
    width: 100%;
}
.main > form > .content-wrapper > div > textarea {
    margin-top: -8px;
    resize: none;
    width: 100%;
    border: 1px solid rgba(145, 155, 177, 0.5);
    border-radius: 3px;
    font-family: 'BM JUA_OTF', 'Noto Sans KR', sans-serif;
    color: #919BB1;
    padding: 15px 10px 180px 15px;
    font-size: 14px;
}

.main > form > .buttons {
    display: flex;
    justify-content: space-between;
}
.main > form > .buttons > span {
    color: white;
    padding: 5px 25px;
    border-radius: 8px;
    font-weight: 100;
}
.main > form > .buttons > .save {
    background: #326F9C;
}
.main > form > .buttons > .cancel {
    background: #FF4234;
}