.sideboard {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 8px;
  margin-top: 200px;
  margin-right: 20px;
  font-size: 16px;
  color: #326F9C;
}
.sideboard > article {
  width: 280px; 
  height: 300px;
  background-color: white;
  box-shadow: -1px 7px 20px rgba(50, 111, 156, 0.1);
  border-radius: 8px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.sideboard > article > .title {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  color: black;
  align-items: center;
}
.sideboard > article > .title > img {
  width: 17%;
  background: #919BB1;
aspect-ratio: 1/1;
  border-radius: 50%;
}
.sideboard > article > .title > div > span.nickname {
  font-size: 18px;
}
.sideboard > article > .title > div > div {
  display: flex;
  flex-direction: row;
}
.sideboard > article > .title > div > div > span {
  border-radius: 8px;
  border: 1px solid #f6f6f6;
  padding: 3px 5px;
  font-size: 8px;
  color: #919BB1;
}
.sideboard > article > .title > img.rounded-plus {
  margin-left: auto;
  width: 12%;
}

.sideboard > article > .content {
  display: flex;
  flex-direction: column;
  color: #919BB1;
  font-size: 10px;
  row-gap: 5px;
}
.sideboard > article > .content > .body {
  border: 1px solid #F6f6f6;
  border-radius: 8px;
  padding: 5px 5px 140px 5px;
}
.sideboard > article > .goto-profile {
  text-align: center;
  color: black;
}