.sideboard {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 8px;
  margin-top: 40px;
  margin-right: 20px;
  font-size: 16px;
  color: #326F9C;
}
.sideboard > article {
  width: 280px; 
  height: auto;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.sideboard > article > div.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: baseline;
  justify-content: space-between;
}
.sideboard > article > div.title h3 {
  text-shadow: 0 2px 8px rgba(50, 111, 156, 0.2);
}
.sideboard > article > div.title > div {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: baseline;
}
.sideboard > article > div.title > span {
  margin-right: 10px;
}
.sideboard > article > div.title > span, 
.sideboard > article > div.title time {
  color: #919BB1;
  font-size: 11px;
}
.sideboard > article div.content > div.img {
  width: 100%;
  aspect-ratio: 5/3;
  background: #919BB1;
  border-radius: 8px;
  background-size: contain;
}
.sideboard > article div.content {
  display: grid;
  grid-template-columns: 3.5fr 6.5fr;
  gap: 10px;
  align-items: center;
}
.sideboard > article div.content > div.body > div.title {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
}
.sideboard > article div.content > div.body > div.title > .profile {
  width: 30px;
  height: 30px;
  background-color: #919BB1;
  border-radius: 50%;
  background-size: contain;
}
.sideboard > article .content > .body > .title > span {
  margin-top: 5px;
}
.sideboard > article .content > .body > .title > div {
  margin-top: 5px;
  padding: 1.5px 6px; 
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(81, 186, 125, 0.25);
}
.sideboard > article .content > .body > span {
  font-size: 12px;
}
.sideboard > article.quiz > span {
  color: black;
  font-size: 14px;
}
.sideboard > article.quiz > ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.sideboard > article.quiz > ul > li {
  background: #919BB1;
  border-radius: 10px;
  padding: 8px;
  color: white;
  font-size: 14px;
}

.sideboard article .content .title {
  color: #326F9C;
}
.sideboard article .content:hover .title {
  color: #51BA7D;
}

.sideboard article #ranking-views,
.sideboard article #ranking-likes {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

#btn-next-quiz {
  background: #326F9C;
}