* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
    font-family: 'BM JUA_OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BM JUA_OTF', 'Noto Sans KR', sans-serif;
    background-color: #f5f7f9;
    color: #000000;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    justify-content: space-between;
}
